body {
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
}

/* Стилі для обнулення відступів у елементів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Клас для обнулення базових властивостей списків (ul) */
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/* Клас для обнулення базових властивостей у посилань */
a {
  text-decoration: none;
  color: inherit;
}

/* Властивості для коректного відображення картинок */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Властивості для обнулення курсиву address */

address {
  font-style: normal;
  color: inherit;
}

.container {
  width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
}

.header-container {
  display: flex;
  align-items: center;
}

.link-logo {
  margin-right: auto;
}

.nav-header {
  margin-right: 30px;
}

.nav-list {
  display: flex;
  gap: 28px;
}

.link-nav {
  font-size: 14px;
  display: block;
  padding: 28px 0;
}

.link-nav:hover,
.link-nav:focus {
  font-weight: 700;
  font-size: 14px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #bbf330;
}

.btn-header {
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  background-color: #bbf330;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-header:hover,
.btn-header:focus {
  background: #ffe450;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.hero {
  padding-top: 14px;
  padding-bottom: 69px;
}

.hero-container {
  display: flex;
  align-items: center;
  gap: 160px;
}

.hero-wrapp {
  max-width: 511px;
}

.hero-title {
  font-size: 48px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 40px;
}

.hero-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border-radius: 30px;
  padding: 6px 17px;
  min-width: 98px;
  height: 32px;
  cursor: pointer;
  border: none;
  background-color: #bbf330;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*------*/

.hero-btn:hover,
.hero-btn:focus {
  background: #ffe450;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
}

.img-backg {
  background-image: url(../images/Ellipse.png);
  background-repeat: no-repeat;
  width: 580px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Offering {
  background-color: #ffe550;
  padding-top: 113px;
  padding-bottom: 124px;
}

.offering-container {
  display: flex;
  align-items: center;
  gap: 90px;
}

.offering-text-wrap {
  max-width: 573px;
}

.offering-title {
  line-height: 1.2;
  font-size: 42px;
  margin-bottom: 20px;
}

.offering-text {
  line-height: 1.5;
  margin-bottom: 40px;
}

.offering-list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}

.offering-item {
  width: calc((100% - 67px) / 2);
}

.offering-subtitle {
  line-height: 1.4;
  font-size: 18px;
  margin-bottom: 16px;
}

.offering-desc {
  font-size: 14px;
  line-height: 1.5;
}

.offering-btn {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  height: 40px;
  min-width: 106px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.offering-btn:hover,
.offering-btn:focus {
  background-color: #bbf330;
  border: none;
}

.favorites {
  padding-top: 120px;
  padding-bottom: 104px;
}

.favorites-title {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.favorites-text {
  font-size: 16px;
  text-align: center;
  margin-bottom: 40px;
}

.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.favorites-item {
  width: 394px;
  height: 397px;
  border-radius: 157px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  box-shadow: 0 -4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  background-image: url(../images/group.png);
  background-repeat: no-repeat;
  background-position: center;
}

.footer-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo-footer {
  margin-right: 143px;
}

.nav-footer {
  margin-right: 320px;
}

.text-form {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 12px;
}

.form-input {
  border: 0.85px solid #ffe550;
  border-radius: 30px;
  padding: 0 12px;
  width: 279px;
  height: 42px;
  margin-bottom: 12px;
}

.form-div {
  display: flex;
  gap: 13px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #505050;
}

.text-priv {
  font-size: 12px;
  color: #2c2c2c;
}

.link-privacy-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.btn-submit {
  border: 0.85px solid #7eb101;
  border-radius: 30px;
  width: 103px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-submit:hover,
.btn-submit:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 2px solid #ffe450;
}

.select-text {
  display: flex;
  justify-content: center;
  align-items: end;
  margin-top: 80px;
}

.select-list {
  display: flex;
  gap: 20px;
}

.select-link {
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7eb101;
}

.sel-text {
  font-size: 12px;
  color: #2c2c2c;
  margin-left: auto;
  margin-top: 80px;
}
